.center {
    margin-left: auto;
    margin-right: auto;
}

.my_header {
    text-align: center;
    color: white;
}

.Button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}